.masthead-avatar  { 
  border-radius: 50%;
}

#about { 
  background-color: #fff !important;
  color: #1abc9c !important
}

.page-section-heading.text-white { 
  color: #1abc9c !important
}

#about>.container>.divider-custom.divider-light >div { 
  color: #1abc9c !important
}

#about>.container>.divider-custom.divider-light >.divider-custom-line { 
  background-color: #1abc9c !important
}